section {
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  margin: 3%;
}

.card1 {
  background-color: red;
  height: 400px;
  width: 300px;
}

.card2 {
  background-color: red;
  height: 400px;
  width: 300px;
}

.card3 {
  background-color: red;
  height: 400px;
  width: 300px;
}

.first {
  align-items: flex-start;
  justify-content: flex-start;
}

.second {
  align-items: center;
  justify-content: center;
}

.third {
  align-items: flex-end;
  justify-content: flex-end;
}
